<div class="div1">
  <div class="homeDiv">
    <h2>SMART PLANT LEAF DESEASE DETECTION SYSTEM</h2>
    <h3>Welcome to the Home Page</h3>


    <!-- input image section   -->
     <div class="inputDiv">
      <label for="imageUpload">Upload Image:</label>
      <input type="file" id="imageUpload" name="imageUpload" accept="image/*">
      <button class="btn1">Upload</button>
     </div>
  </div>
  <!-- <div class="bgImg">
    <img src="home1.jpeg" alt="nature for home page">
  </div><br> -->
  <div class="bgImg">
    <img src='https://images.wallpaperscraft.com/image/single/fern_plant_leaves_139338_3840x2400.jpg' alt="nature for home page">
  </div>

</div>